<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="static/style.css"/>

<body>
<div>
  <h1>Solomon's Wisdom</h1>

  <img class='icon' src="../static/img/old-solomon.jpg" alt="Velho Salomão - Gustave Doré." title="Velho Salomão - Gustave Doré." />

</div>

<div>
  <p>Gerenciador de referências Biblicas.</p>
</div>

</body>
</html>